extends layout

block content
	script(type="text/javascript")
		console.log("Hello")
		alert("Dario")
	div(class="mdl-grid")
		div(class="mdl-cell mdl-cell--1-col" id="left")
			
		div(class="mdl-cell mdl-cell--10-col" id="middle")
			nav(class="mdl-navigation")
				a(class="mdl-navigation__link" href="" id="home_id") Home
				a(class="mdl-navigation__link" href="" id="home_id") Videos
				a(class="mdl-navigation__link" href="" id="home_id") Subscriptions
				a(class="mdl-navigation__link" href="login" id="home_id") Register 
				a(class="mdl-navigation__link" href="" id="home_id") Live
		div(class="mdl-cell mdl-cell--1-col" id="right")
			

	div(class="mdl-grid" id="content")
		div(class="mdl-cell mdl-cell--3-col" id="left")
			object(width="400" height="250" data="https://www.youtube.com/embed/lN2ozTZNJC0?autoplay=0")
			br
			br
			object(width="400" height="250" data="https://www.youtube.com/embed/tWUobruxGH4?autoplay=0")
			br
			br
			object(width="400" height="250" data="https://www.youtube.com/embed/f02MfCTWIow?autoplay=0")
		div(class="mdl-cell mdl-cell--6-col" id="middle")
			br
			br
			div()
				video( autoplay="true" id="videoElement")
			br
			button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="btn()" id="btn-share") Share
			div(class="mdl-grid" id="suggest")
				div(class="mdl-cell mdl-cell--4-col")
					object(width="238" height="240" data="https://www.youtube.com/embed/rD3IiCK1IvI?autoplay=0")
					button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="btn()" id="btn-blue") Play
				div(class="mdl-cell mdl-cell--4-col")
					object(width="238" height="240" data="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0")
					button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="btn()" id="btn-blue") Play
				div(class="mdl-cell mdl-cell--4-col")
					object(width="238" height="240" data="https://www.youtube.com/embed/9XV3L9U_zJI?autoplay=0")
					button(class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onclick="btn()" id="btn-blue") Play
		div(class="mdl-cell mdl-cell--2-col" id="right")
			h2 Ads
