body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: teal;
  margin :5%;
  color : #013452;
}

a {
  color: #00B7FF;
}

input{
	width :30%;
	height : 25px;
	border-radius: 10px;
	border :1px solid navy;
	font-size: 15px;
}
