body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: teal;*/
  background-image: url("../images/bg.jpg");
  margin :1%;
  color : #013452;
}

#middle{
  background-color: teal;
}

nav, a{
  padding :25px;
  float:right;

}

#home_id {
  color: white;
}
iframe{
  border: 4px solid teal;
}
object{
  border: 4px solid teal;
}




