doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(bgcolor="teal")
<<<<<<< HEAD
    block content
    
=======
    div(width="100%", height='10%' style='background-color:red;')
    
     block content
>>>>>>> 5fb9f3f1987879f197e2d8a41da84f3102b8ef3f
