doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(bgcolor="teal")
    div(width="100%", height='10%' style='background-color:red;')
    
     block content
